@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Banking Application</h1>
    <a href ="https://localhost:7297/user">
        <button>User</button>
    </a>
      
    <a href="https://localhost:7297/bank">
        <button>Admin</button>
    </a>
       

</div>
